---

---

<header>
  <div class="relative -translate-y-[80px] -z-20 h-[28vh] md:h-[50vh]">
    <img
      src="assets/images/portfolio-hero.webp"
      alt="hero menu page"
      class="w-full h-[40vh] md:h-[60vh] object-cover filter brightness-50"
    />
    <div
      class="text-white text-center -translate-y-20 md:-translate-y-36 md:pb-10 text-6xl font-extrabold"
    >
      <h1
        class="w-full m-auto h-full md:text-8xl md:max-w-[500px] md:font-extrabold"
      >
        Portfolio
      </h1>
    </div>
  </div>
</header>
