---
const {title} = Astro.props
---

<button class="bg-transparent text-white rounded border-2 px-6 py-2 my-auto h-10 text-center hover:text-verde1 hover:bg-white transition duration-300">
    <p class="font-lato">{title}</p>
</button>