---

---

<main class="bg-white flex flex-col items-center md:my-10">
  <div class="md:flex md:justify-center md:items-center md:gap-20">
    <img
      src="assets/images/contact-image1.webp"
      alt="image 1 contact"
      class="p-6 rounded-2xl md:h-[400px] md:w-[400px] md:object-cover"
    />
    <div class="w-full text-center md:text-2xl">
      <p>Puedes contactarnos via</p>
      <p>
        email <span class="text-verde2">info@foodzero.com</span>
      </p>
      <p>
        o al telefono <span class="text-verde2">+86 852 346 000</span>
      </p>
    </div>
  </div>
  <div class=" flex flex-col md:flex-row-reverse md:justify-center md:items-center md:gap-20">
    <img
      src="assets/images/contact-image2.webp"
      alt="image 1 contact"
      class="p-6 rounded-2xl md:h-[400px] md:w-[400px] md:object-cover"
    />
    <div class="w-full text-center md:text-2xl flex flex-col items-center my-4">
      <img src="assets/icons/map.png" class="w-5" alt="mapa" />
      <p>Nos encuentras en</p>
      <a
        href="https://www.google.com/maps/place/1959+S+Sepulveda+Blvd,+Los+Angeles,+CA+90025,+EE.+UU./@34.0435916,-118.4438768,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2bb75e6e2a967:0xd756f6ede254fb22!8m2!3d34.0435872!4d-118.4413019?entry=ttu"
        target="_blank"
        class="text-verde2">1959 Sepulveda Blvd. Culver City, CA, 90230</a
      >
    </div>
  </div>
</main>
