---
import { categories } from "../constants";
import arrow from "/assets/icons/Icon-arrow-right.png";
---

<main class="bg-white py-6">
  <div class="text-center mb-4">
    <h3 class="text-2xl font-rufina md:text-6xl">Calories Energy Balance</h3>
    <p class="text-xs">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4 mx-6 md:grid-cols-3 md:max-w-[1200px] md:mx-auto">
    {
      categories.map((cat) => (
        <div class="relative">
          <img src={cat.image} alt={cat.name} />
          <div class="flex justify-between absolute top-3 w-full px-2 md:px-6 items-center">
            <p class=" font-bold text-xs md:text-2xl text-gris1">{cat.name}</p>
            <img src={cat.arrow} alt="arrow" class="fill-verde1 w-6" />
          </div>
        </div>
      ))
    }
  </div>
</main>
