---
import Button from "../components/buttons/Button-dark.astro";
---

<main class="bg-gray-100 md:text-xl" id="reservas">
  <div
    class="flex flex-col py-4 md:max-w-[1200px] md:mx-auto gap-6 items-center w-full"
  >
    <div>
      <h3 class="text-2xl md:text-4xl">Haga su reserva</h3>
      <p>Póngase en contacto con el restaurante</p>
    </div>
    <div class="w-full max-w-[250px] md:max-w-[1200px]">
      <form
        class="mx-auto flex flex-col place-items-center md:flex-row md:justify-between gap-4"
      >
        <div>
          <label for="fecha" class="block mb-2 text-sm font-medium"
            >Fecha de Reserva</label
          >
          <input
            type="date"
            id="fecha"
            class="border-2 border-verde1 rounded-lg px-4 py-2 w-[10rem] md:w-[15rem]"
          />
        </div>
        <div>
          <label for="hora" class="block mb-2 text-sm font-medium"
            >Hora de Reserva</label
          >
          <select
            id="hora"
            class="border-2 border-verde1 rounded-lg px-4 py-2 w-[10rem] md:w-[15rem]"
          >
            <option>20:00</option>
            <option>20:30</option>
            <option>21:00</option>
            <option>21:30</option>
            <option>22:00</option>
            <option>22:30</option>
            <option>23:00</option>
            <option>23:30</option>
            <option>00:00</option>
            <option>00:30</option>
          </select>
        </div>
        <div>
          <label for="personas" class="block mb-2 text-sm font-medium"
            >Comensales</label
          >
          <select
            id="personas"
            class="border-2 border-verde1 rounded-lg px-4 py-2 w-[10rem] md:w-[15rem]"
          >
            <option>1</option>
            <option>2</option>
            <option>2</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </form>
    </div>
    <div class="mt-4 mx-auto"><Button title="RESERVAR" /></div>
  </div>
</main>
