---

---

<header class="text-white md:flex md:justify-center">
  <div class="flex flex-col relative md:max-w-[1200px] md:translate-x-[225px]">
    <div class="mb-4 md:absolute md:z-20 md:top-1 md:-left-[450px]">
      <h1 class="text-center text-3xl text-pretty mb-4 md:text-6xl">
        La alimentación sana
        <br />es parte importante
        <br />del estilo de vida
      </h1>
      <p class="font-lato text-center md:text-wrap">
        Lorem ipsum dolor sit amet consectetur
        <br />adipisicing elit. Ipsum, nisi facere?
      </p>
    </div>
    <div class="flex flex-col items-center relative">
      <img
        src="assets/images/hero.webp"
        alt="hero image"
        class="px-2 md:h-[300px] md:translate-y-[3rem] rounded-2xl"
      />
      <div class="flex gap-2 absolute -bottom-16">
        <img
          src="assets/images/spices1.webp"
          alt="spices1"
          class="w-24 md:w-16"
        />
        <img
          src="assets/images/spices2.webp"
          alt="spices2"
          class="w-24 md:w-16"
        />
        <img
          src="assets/images/spices3.webp"
          alt="spices2"
          class="w-24 md:w-16"
        />
      </div>
    </div>
  </div>
</header>
